.mobile {
  .header {
    background-color: transparent;
    padding: 0 30px;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    bottom: 0px;
    left: 0;
  }

  .logo-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .snowman {
    position: absolute;
    width: 40px;
    height: auto;
    z-index: -1;
    top: -5px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}