.header {
  background-color: var(--black);
  padding: 0 30px;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid var(--dark-gray);
}

.menu-header {
  display: flex;
  align-items: center;
}

.logo-header {
  cursor: pointer;
  color: var(--black);
  font-size: 26px;
  font-weight: 800;
  border: 3px solid var(--light-black);
  background-color: var(--white);
  padding: 6px 24px;
  border-radius: 45% / 50%;
}

.map-header,
.faq-header,
.suggestion-header,
.patchnote-header {
  width: auto;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  box-sizing: border-box;
  color: var(--white);
  font-size: 16px;
  font-weight: 600;

  &:hover {
    border-bottom: 3px solid var(--white);
    transition: border-bottom 0.2s ease;
    cursor: pointer;
  }

  &.active {
    color: var(--white);
    border-bottom: 3px solid var(--white);
  }
}