.vworld-map-container {
  width: 100%;
  height: 100%;
  background-color: var(--light-black);
}

.vworld-map-container {
  width: 100%;
  height: 100%;
}

.rvm-vworld-map {
  width: 100%;
  height: 100%;
  z-index: 0;
}