.pc {
  .intro-container {
    width: 100vw;
    height: calc(100vh - 70px);
    overflow: auto;
    background-color: var(--light-black);
    color: var(--white);
    box-sizing: border-box;
    padding-bottom: 300px;
  }

  .intro-header {
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
    margin: 150px 0;
    text-align: center;
  }

  .intro-bg {
    height: 520px;
    background: linear-gradient(135deg, #242424 0%, #121212 50%, #000000 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }

  .intro-text {
    position: absolute;
    top: -10px;
    left: -15px;
    font-size: 48px;
    font-weight: 900;
    color: var(--white);
    opacity: 0.05;
    line-height: 1.1;
    word-break: break-all;
    white-space: normal;
    width: 101%;
    /* 양 옆이 잘리도록 */
    max-width: none;
    text-align: center;
    letter-spacing: -0.05em;
    user-select: none;
    pointer-events: none;
  }

  .intro-text h1 {
    margin: 0;
    overflow-wrap: break-word;
  }

  .intro-main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white);
  }

  .intro-main-text h2 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.5;
  }

  .intro-main-text h2:first-child {
    margin-bottom: 10px;
  }

  .intro-body {
    display: grid;
    grid-template-columns: auto auto;
    gap: 60px;
    align-items: center;
    justify-content: center;

    .ib-first,
    .ib-second,
    .ib-third,
    .ib-fourth,
    .ib-fifth,
    .ib-sixth {
      width: 400px;
      height: 240px;
      background-color: var(--dark-gray);
      border-radius: 10px;
      padding: 40px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      line-height: 1.8;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;

      &:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
        transition: all 0.5s ease;
        scale: 1.05;
      }
    }

    strong {
      font-size: 18px;
      font-weight: 800;
    }
  }

  .ib-text-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .ib-text-header-image {
    margin-right: 15px;
    background-color: var(--light-black);
    border-radius: 5px;
    padding: 5px;
  }
}