.pc {
  .patchnote-container {
    height: calc(100vh - 80px);
    background-color: var(--light-black);
    color: var(--white);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
    padding-bottom: 300px;
    box-sizing: border-box;
  }

  .patchnote-header {
    width: 600px;
    font-size: 20px;
    margin-bottom: 70px;
    text-align: left;
  }

  .patchnote-body {
    .pb-list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .pb-item {
      width: 600px;
      border-bottom: 1px solid var(--dark-gray);
      box-sizing: border-box;
      padding-bottom: 10px;
    }

    .pb-item-title {
      font-size: 16px;
      font-weight: 600;
    }

    .pb-item-created-at {
      font-size: 12px;
      color: var(--dark-white);
    }

    .pb-item-content {
      font-size: 14px;
      color: var(--dark-white);
    }
  }
}